<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8406c75b51.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<style>
    i{
    
        font-size: 200px;
    }
    body{
        text-align: center;
        background-color: rgb(196, 205, 255);
    }
</style>
<body>
    <i class="fa-sharp fa-solid fa-check"></i>
    <h1>Success</h1>
    
</body>
</html>